{% extends 'base.html.twig' %}

{% block body %}

{{ include('admin/formation/template/header.html.twig') }}

<div class="container">
    <br>
    <br>
    <br>
    <h2>Éditer une formation</h2>

    {{ include('admin/formation/formation/_form.html.twig', {button: 'Éditer'}) }}
</div>

{% endblock %}