includes:
	- phpstan.neon.dist

parameters:
	ignoreErrors:
		-
			message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
			path: src/Entity/*

	parallel:
		maximumNumberOfProcesses: 1