includes:
	- phpstan.neon.dist

parameters:
	symfony: 
		container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			# message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
			# path: src/Entity/*

	parallel:
		maximumNumberOfProcesses: 1