{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <br>
    <br>
    <br>
    <h2>Éditer une formation</h2>

    {{ include('admin/formation/_form.html.twig', {button: 'Éditer'}) }}
</div>

{% endblock %}