{% extends 'base.html.twig' %}

{% block title 'Index Administrateur' %} 

{% block body %}

{{ include('admin/formation/template/header.html.twig') }}


<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <p> informations Administrateur <p>
    </div>
    <div class='col-md-6'>
      <p> BLABLABLA <p>
    </div>
  </div>
</div>
<div class="info-admin">

<div>
{% endblock %}