{% extends 'base.html.twig' %}
{% block title %}Hello ExanaHomeController!{% endblock %}


{% block body %}
<h1>Qui somme-nous !</h1>


<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4 class="mb-3 mb-lg-5 bold-text">Nos partenaires</h4>
  </div>
  <div class="row text-center">
      <div class="col-md-4"><img src="{{ '/img/LOGOS-EXSANA-3.png' }}" alt="img-linkedin" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
      <div class="col-md-4"><img src="{{ '/img/LOGOS-EXSANA-3.png' }}" alt="img-linkedin" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
      <div class="col-md-4"><img src="{{ '/img/LOGOS-EXSANA-3.png' }}" alt="img-linkedin" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
    </div>
</div>
{% endblock	%}

