{% extends 'base.html.twig' %}
{% block title %}Hello ExanaHomeController!{% endblock %}


{% block body %}
<div class="admin-zone">
</div>
<h1>Informations !</h1>
	<div class="container">
		<ul>
			<li>
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quia omnis aliquid voluptatem saepe accusamus ducimus necessitatibus et, similique consequatur enim autem aspernatur, optio non.</p>
			</li>
			<li>
				<h3>Ipsam quasi ut eaque dignissimos.</h3>
				<p>Earum saepe aliquid voluptatum provident laborum deleniti atque quibusdam quos at maxime in, ea beatae voluptate nobis quam error impedit aspernatur similique eveniet quas! Corrupti!</p>
			</li>
			<li>
				<h3>Ea aspernatur, libero dolorem quia.</h3>
				<p>Atque, ex, illum. Nesciunt repellat, ex voluptatum quasi non vel dolore debitis? Officia et aspernatur, quaerat modi, explicabo eius ab, provident pariatur dolorum quos facere?</p>
			</li>
			<li>
				<h3>Quod aspernatur esse voluptate, voluptas.</h3>
				<p>In fugiat reiciendis laborum eius illo cumque pariatur consequatur ex, molestias recusandae magnam, ea molestiae. Minus distinctio minima nam voluptatum quod modi velit eveniet atque?</p>
			</li>
			<li>
				<h3>Accusantium nesciunt sunt molestiae, dolorem!</h3>
				<p>Sit praesentium sapiente, veniam temporibus adipisci voluptates rem minus optio, numquam quisquam, enim non voluptatem tempora accusantium reprehenderit aliquid blanditiis eos animi, assumenda sint iste?</p>
			</li>
			<li>
				<h3>Quia in natus mollitia quidem?</h3>
				<p>Alias nostrum quae illum dicta ullam, rerum illo debitis, quod et dignissimos impedit culpa ab laudantium voluptatem asperiores maxime nulla placeat expedita quidem magni qui.</p>
			</li>
			<li>
				<h3>Eveniet quam quis quisquam nesciunt.</h3>
				<p>Dolorum ratione deserunt rem dolor. Quis pariatur repellat laborum quod consequatur, veniam eaque dolor optio dicta ullam eos ab laboriosam excepturi quia rerum soluta quisquam.</p>
			</li>
			<li>
				<h3>Non cum, assumenda porro nisi.</h3>
				<p>Aliquam repellendus esse possimus quod laudantium dolores voluptates accusantium sequi dicta, excepturi voluptas, saepe unde. Eos doloremque hic reprehenderit maxime architecto, inventore perspiciatis nesciunt in.</p>
			</li>
			<li>
				<h3>Aliquam quasi asperiores veniam natus.</h3>
				<p>Recusandae, quasi! Hic, autem commodi eius omnis temporibus. Fugit est voluptates, maxime sed ut quae culpa expedita odio reprehenderit dolore voluptatum deserunt hic, quidem quo?</p>
			</li>
		</ul>
	</div>
{% endblock	%}