<div class="container">
            <div class="row">
                    <div class="col">
                        <div class="wysiwyg">
                            <h2>Exsana Formation</h2>
<p>Organisme de recherche et développement de dispossitifs médicaux, achat et vente de formation en senté et matériel médical, audit et consulting de structure médico sociale continue enregistré sous le numéro 900 795 857 R.C.S dans la ville de Caen, SAS au capital de 2000€ – Siège social : 47 route de bayeux – SIRET : 90079585700011 </p>
<h2>Contact</h2>
<p><a href="exsanaformation@gmail.fr">exsanaformation@gmail.com</a></p>
<h2>Charte du site : www.exsanaformation.fr</h2>
<p>Avertissements à caractère général. Le site internet <a title="www.exsanaformation.fr" href="https://www.exsanaformation.fr/">www.exsanaformation.com</a>&nbsp;est déclaré à la Commission nationale de l’informatique et des libertés (CNIL).</p>
<h2>Hébergement</h2>
<p>Le site internet&nbsp;<a title="www.exsanaformation.fr" href="www.exsanaformation.fr/">www.exsanaformation.com</a> est hébergé par&nbsp; : HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre, joignable par le moyen suivant :https://www.hostinger.fr/contact.</p>
<h2>Traitement des données</h2>
<p>Les informations qui vous concernent sont destinées à Exsana Formation. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi «&nbsp;Informatique et libertés&nbsp;» du 06/01/78).</p>
<p>Pour l’exercer, adressez-vous à : Exsana Formation – 47 route de bayeux, 14310 Villy-Bocage</p>
<h2>Copyright</h2>
<p>Conformément aux textes et dispositions régissant les droits d’auteur, les droits de propriété littéraire et artistique et/ou les droits voisins, la reproduction, la représentation et l’usage de tout ou partie des éléments composant le site Exsana Formation (<a title="www.exsanaformation.fr" href="https://www.exsanaformation.fr">www.exsanaformation.fr</a>) à des fins autres que privées sont interdites sans autorisation écrite de l’éditeur du site.</p>
<p>Les images et les textes diffusés sur ce site sont la propriété exclusive de Exsana Formation et ne peuvent en aucun cas être téléchargées, diffusées, stockées, enregistrées, réutilisées, retransmises, modifiées et plus généralement utilisées à d’autres fins ou d’une autre manière que celles expressément mentionnées aux présentes, sans l’autorisation écrite préalable de l’éditeur du site. La loi incrimine au titre du délit de contrefaçon toute reproduction, représentation ou diffusion, par quelque moyen que ce soit, d’une œuvre de l’esprit en violation des droits de l’auteur, tels qu’ils sont définis et réglementés par la loi (CPI, art L.335-3).</p>
<h2>Liens vers des sites tiers</h2>
<p>Le site&nbsp;<a title="www.www.exsanaformation.fr" href="https://www.exsanaformation.fr/">www.exsanaformation.com</a>&nbsp;contient des liens hypertextes dirigeant les utilisateurs vers des sites internet gérés par des tiers. Ces sites n’étant pas gérés par céa Conseil &amp; Formation Santé, celui-ci ne peut être tenu pour responsable de leur contenu (qualité, véracité, pertinence…) ni des difficultés que pourrait rencontrer l’internaute pour y accéder.</p>
<h2>Crédits</h2>
<p>Le site <a href="https://www.www.exsanaformation.fr/">www.exsanaformation.com</a>
<h2>Utilisation des cookies</h2>
<p>Un cookie est un petit fichier texte susceptible d’être enregistré, sur le disque dur de votre terminal (ordinateur, tablette …) à l’occasion de votre visite sur un site, via votre logiciel de navigation. Il est transmis par le serveur d’un site internet à votre navigateur. A chaque cookie est attribué un identifiant anonyme. Un cookie ne permet pas de remonter à une personne physique.</p>
<p>Sur notre site, nous utilisons les cookies pour :</p>
<ul>
<li>Permettre le partage social d’articles sans stockage de données personnelles ;</li>
<li>Permettre le bon affichage du site en fonction des informations du navigateur (résolution, terminal,…) sans stockage de données personnelles ;</li>
<li>Analyser la fréquentation du site ainsi que la navigation des internautes parcourant le site. Cela permet une analyse statistique des visites et d’améliorer nos campagnes de publicité.</li>
</ul>
<p>En savoir plus sur l’usage des cookies par Google : <a href="https://policies.google.com/technologies/cookies?hl=fr">cliquez ici</a></p>
                        </div>
                    </div>
            </div>
        </div>