{% extends 'base.html.twig' %}

{% block title %}Exsana informations pratique{% endblock %}

{% block body %}
<h1>Info pratiques</h1>
<div class="admin-zone">
</div>
{{ include('theme/_partenaires.html.twig') }}
{% endblock	%}