{% extends 'base.html.twig' %}

{% block title %}Exsana produit{% endblock %}

{% block body %}

<div class="product">
    <div class="title-product"></div>
    <div class="description-product"></div>
    <div class="price-product"></div>
    <div class="img-product"><div>
</div>

{{ include('theme/_partenaires.html.twig') }}


{% endblock %}