{% extends 'base.html.twig' %}

{% block body %}
<div class="page-formation">
</div>

<div class="container">
    <br>
    <br>
    <br>
    <h2>Envoyer votre CV</h2>

    {{ include('curriculum/_form.html.twig', {button: 'envoyé'}) }}
</div>

{% endblock %}