{% extends 'base.html.twig' %}
{% block title %}Carrières chez Exsana - Rejoignez notre équipe en santé et audit{% endblock %}
{% block meta_description %}Rejoignez Exsana et participez à notre mission d'offrir des formations de qualité en santé. Découvrez nos opportunités de carrière et contribuez à faire une différence dans le domaine médical.{% endblock %}
{% block meta_keywords %}recrutement Exsana, carrières santé, emploi en santé, audit médical, opportunités Exsana{% endblock %}
{% block canonical_url %}{{ app.request.uri }}{% endblock %}

{% block body %}
<div class="page-formation">
</div>

<div class="container">
    <br>
    <br>
    <br>
    <h2>Envoyer votre CV</h2>

    {{ include('curriculum/_form.html.twig', {button: 'envoyé'}) }}
</div>

{% endblock %}