
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4 class="mb-3 mb-lg-5 bold-text">Nos partenaires</h4>
  </div>
  <div class="row text-center">
      <div class="col-md-3"><a href="http://www.silvertmedical.com/"><img src="{{ '/img/silvert.jpg' }}" class="img-fluid"  id="" alt="img silvert medical"></a></div>
      <div class="col-md-3"><a href="https://www.hemocue.fr/fr-fr/solutions/h%C3%A9matologie-"><img src="{{ '/img/hemocue.jpg' }}"  class="img-fluid" id="" alt="img-hemocue"></a></div>
      <div class="col-md-3"><a href="https://laerdal.com/fr/"><img src="{{ '/img/laerdal-logo_en_process-696x365.jpeg' }}" class="img-fluid"  id="" alt="img-laerdal"></a></div>
      <div class="col-md-3"><a href="https://www.lifeaz.co"><img src="{{ '/img/Lifeaz-Logo-2-1500x587.png' }}" class="img-fluid"  id="" alt="img-Lifeaz"></a></div>
  </div>
</div>