
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4 class="mb-3 mb-lg-5 bold-text">Nos partenaires</h4>
  </div>
  <div class="row text-center">
      <div class="col-md-3"><img src="{{ '/img/silvert.jpg' }}" class="img-fluid"  id="" alt="img silvert medical"></div>
      <div class="col-md-3"><img src="{{ '/img/hemocue.jpg' }}"  class="img-fluid" id="" alt="img-hemocue"></div>
      <div class="col-md-3"><img src="{{ '/img/laerdal-logo_en_process-696x365.jpeg' }}" class="img-fluid"  id="" alt="img-laerdal"></div>
      <div class="col-md-3"><img src="{{ '/img/Lifeaz-Logo-2-1500x587.png' }}" class="img-fluid"  id="" alt="img-Lifeaz"></div>
  </div>
</div>