
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4 class="mb-3 mb-lg-5 bold-text">Nos partenaires</h4>
  </div>
  <div class="row text-center">
      <div class="col-md-4"><a href="https://www.cabinet-silvert-expert-comptable.fr/"><img src="{{ '/img/logo-600x214.png' }}" class="img-fluid"  id="" alt="img silvert expert comptable"></a></div>
      <div class="col-md-4"><a href="https://www.hemocue.fr/fr-fr/solutions/h%C3%A9matologie-"><img src="{{ '/img/HemoCue_logo_white_greybackground.png' }}"  class="img-fluid" id="" alt="img-hemocue"></a></div>
      <div class="col-md-4"><a href="https://laerdal.com/fr/"><img src="{{ '/img/laerdal-logo_en_process-696x365.jpeg' }}" class="img-fluid"  id="" alt="img-laerdal"></a></div>
  </div>
</div>