{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block body %}

    <div class="container"> 
        <div class="row"> 
            <h2> Modifier mon compte </h2>
            {{ include('user/_form.html.twig', {button: 'Enregistrer les modifications'}) }}
</div>
        </div>
    </div>

{% endblock %}